
@{
    ViewBag.Title = "Details";
}

<h2>@Model.Name</h2>

<ul>
    <li>Membership Type: @Model.MembershipType.Name</li>
    @if (Model.BirthDay != null)
    {
        <li>Birthdate: @Model.BirthDay.ToShortDateString()</li>
    }
</ul>


